@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CDN Demo</h1>
    <p class="lead">Application setting uses these CDN: @CDNWebAppDemo.Components.Util.GetCDNURL()</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/pes1.jpg" width="300" height="300" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/pes2.jpg" width="300" height="300" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/pes3.jpg" width="300" height="300" />
    </div>
</div>