@using CDNWebAppDemo.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CDN Demo</h1>
    <p class="lead">Application setting uses these CDN: @CDNWebAppDemo.Components.Util.GetCDNURL()</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.Image(CDNWebAppDemo.Components.Util.GetCDNURL() + "/Images/pes1.jpg", "pes1", "300", "300")
    </div>
    <div class="col-md-4">
        @Html.Image(CDNWebAppDemo.Components.Util.GetCDNURL() + "/Images/pes2.jpg", "pes2", "300", "300")
    </div>
    <div class="col-md-4">
        @Html.Image(CDNWebAppDemo.Components.Util.GetCDNURL() + "/Images/pes3.jpg", "pes3", "300", "300")
    </div>
</div>